<p>login works!</p>
<h2 class="text-center">
    Login
</h2>
<form #f="ngForm" (ngSubmit)="login(f)">


<input ngModel name="Email"
 email
 #email="ngModel"
 type="email"
 class="form-control"
 required 
 placeholder="Enter Your Email">
 <br>
 <div 
 class="alert alert-danger"
 *ngIf="email.touched && email.errors?.required"
 >The Email is Required</div>
 <div class="alert alert-danger"
 *ngIf="email.touched && email.errors?.email">
 Email Format Correctly
 </div>

 <input ngModel name="Password"
 password
 #password="ngModel"
 type="password"
 class="form-control"
 required
 minlength="6"
 placeholder="Enter Your Password"><br>
 <div class="alert alert-danger"
 *ngIf="password.touched && password.errors?.required">
 The password is required
 </div>
 <div class="alert alert-danger"
 *ngIf="password.touched && password.errors?.minlength"
 >
 The password should be 6 length.
</div>
<br>
<button class="btn btn-primary" 
[disabled]="f.invalid">Login</button>

</form>